{% extends '::base.html.twig' %}
{% block body %}
    <div class="container">
        <div class="header clearfix">
            <nav>
                <ul class="nav nav-pills pull-right">
                    <li role="presentation"><a href="{{ path('business.homepage') }}">Business</a></li>
                </ul>
            </nav>
            <h3><a href="{{ path('homepage') }}">Beerme</a></h3>
        </div>

        {% block content %}{% endblock %}
        <footer class="footer">
            <div class="col-lg-12">
                <p>&copy; 2015 Company, Inc.</p>
            </div>

        </footer>

    </div>
{% endblock %}