<li>
    <a href="{{ path('admin.business.request.list') }}">
        <i class="fa fa-book"></i>
        <span>Business Requests</span>
        <small class="label pull-right bg-blue">
            {{ businessRequestCount }}
        </small>
    </a>
</li>