{% extends "::base.html.twig" %}
{% block body %}
    {{ parent() }}
    <div class="container" style="padding-top: 40px">
        <div class="jumbotron">
            <h1>Cheer Mate !</h1>
            <p>
                Thanks ! We'll review your request as soon as possible.
            </p>
            <p>
                Meanwhile why don't you go grab a beer and relax, we'll take it from here.
            </p>
            <p class="pull-right">
                <a class="btn btn-lg btn-info" href="/" role="button">Bring me where the beer is</a>
            </p>
        </div>
    </div>
{% endblock %}